@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700&family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');


*{
    padding: 0;
    margin: 0; 
    color: #1F2124;
}
body{
    font-family: 'Cairo', sans-serif;
    overflow-x: hidden;
}
nav{
    font-family: 'Cairo', sans-serif;
    font-weight: 400;
    color: #1F2124;
    overflow: hidden;
}
.navbar_fluid{
    padding: 0;
    margin: 0;
}
nav::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: #F6B352;
}
.navbar-scrolled{
    background-color: white;
}

#account{
    background-color:hsla(35, 90%, 64%, 0.20) ;
}
#urgency{
    background-color: #F6B352;
}
#calendar{
    background-color: white;
}
.nav-block{
    height: 80px;
}
/**/
.hr{
    border: 1px solid #F6B352;
}
/*ACCUEIL*/
.accueil_header{
    background-image: url("img/accueil.jpg");
    background-color: #383A3F;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    font-family: 'Cormorant Garamond', serif;
    font-weight: 500;
}
.button{
    border: 2px solid #F68657;
}
.button a {
    text-decoration: none;
    color: #1F2124;
    font-family: 'Cormorant Garamond', serif;
    font-weight: 600;
    text-transform: uppercase;
}
.presentation{
    background-color: #383A3F;
    display: flex;
    justify-content: center;
}
.presentation span{
    color: white;
    font-weight: 400;
}
.oval{
    border-radius: 50%;
    background-color: white;
}
.clinique{
    text-align: left;
    display: block;
}
.clinique h4{
    color: #F68657;
    font-family: 'Cormorant Garamond', serif;
    font-weight: 700;
}
.clinique::after{
    content: url("img/paw-print.png");
    object-fit: cover;
    display: flex;
}
.clinique strong {
    color: #F6B352;
}
.service{
    background-color:#383A3F;
    padding: 50px 0 100px 0;
}
.service h4{
    color: white;
    font-family: 'Cormorant Garamond', serif;
    font-weight: 600;
}
.service_class span{
    color: white;
    font-weight: 400;
}
.service_class_item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.team{
    text-align: left;
    display: block;
}
.team p{
    font-weight: 400;
}
.team h4{
    font-family: 'Cormorant Garamond', serif;
    font-weight: 700;
    color: #F68657;
}
.hr_team{
    border: 1px solid #F6B352;
}
.btn_team{
    border: 2px solid #F68657;
    text-decoration: none;
    border-radius: 0%;
    color: #1F2124;
    font-family: 'Cormorant Garamond', serif;
    font-weight: 600;
}
.carousel-item img{
    width: 100%;
    height: auto;
    max-height: 80%;
}
.footer{
    background-color: #383A3F;
}
.col-md-4 p{
    color: white;
    font-weight: 400;
}
.col-md-4 i{
    color: white;
}
.col-md-4 h5{
    color: white;
    font-family: 'Cormorant Garamond', serif;
    font-weight: 700;
}
.copyright{
    background-color: rgb(246, 179, 82, 0.60);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 0;
}
.copyright p{
   font-weight: 400;
   margin-top: 10px;
}
.btn_rdv{
    border: 2px solid #F68657;
    border-radius: 0%
}
.btn_rdv a{
    text-decoration: none;
    font-family: 'Cormorant Garamond', serif;
    font-weight: 600;
    color: white;
}

/*CLINIQUE*/
.clinique-header{
    background-image: url("img/clinique.jpg");
    background-color: #383A3F;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Cormorant Garamond', serif;
    font-weight: 500;
}
.equipement h4{
    color: #F68657;
    font-family: 'Cormorant Garamond', serif;
    font-weight: 700;
}
.equipement p{
    font-weight: 400;
}
.image-equipement{
    display: flex;
    justify-content: center;
    gap: 10px;
}
.bloc{
    background-image: url("img/bloc.jpg");
    background-size: cover;
    background-position: center;
}
.equipe h4{
    color: #F68657;
    font-family: 'Cormorant Garamond', serif;
    font-weight: 700;
}
.doctor{
    display: flex;
    justify-content: center;
}
.doctor-img{
    text-align: center;
    font-weight: 400;
}
.round{
    border-radius: 50%;
}
/*CONTACT*/
.contact-header{
    background-image: url("img/contact.jpg");
    background-color: #383A3F;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Cormorant Garamond', serif;
    font-weight: 500;
}
.informations{
    gap: 15px;
    text-align: justify;
}
.informations h4{
    font-family: 'Cormorant Garamond', serif;
    font-weight: 600;
}
.consultation{
    background-color: rgb(246, 179, 82, 0.20);
}
.urgence{
    background-color: #F6B352;
}
.access{
    background-color: rgb(246, 179, 82, 0.20);
}
.btn-consultation{
    border: 2px solid #F68657;
    text-decoration: none;
    border-radius: 0%;
    font-family: 'Cormorant Garamond', serif;
    font-weight: 600;
}
.btn-consultation a{
    text-decoration: none;
    color: #1F2124;
    text-transform: uppercase;
}
.urgence span{
    border-top: 2px solid #383A3F;
    border-bottom: 2px solid #383A3F;
}
/*CONNEXION*/
.connexion{
    background-color: #383A3F;
    color: white;
}
.create-account p{
    color: white;
}
.connexion h4{
    font-family: 'Cormorant Garamond', serif;
    font-weight: 600;
}
.form-label{
    color: white;
    font-weight: 400;
}
.connexion a {
    color: white;
    text-decoration: none;
    font-style: italic;
    font-weight: 300;
}
.btn-connexion{
    border: 2px solid #F68657;
    text-decoration: none;
    border-radius: 0%;
    font-family: 'Cormorant Garamond', serif;
    font-weight: 600;
    color: white;
}
.connexion h5 strong{
    color: white;
}
.connexion h5{
    font-style: italic;
    font-weight: 400;
    text-align: center;
}
#appointment{
    text-transform: uppercase;
}
.form-control{
    border-radius: 0%
}
.form-select{
    border-radius: 0%;
}
/*PROFIL*/
.profil{
    margin-top: 200px;
    margin-bottom: 5px;
    padding-bottom: 50px;
    color: #F68657;
    font-family: 'Cormorant Garamon', serif;
    font-weight: 600;
}
.profil-name{
    color: white;
    background-color: #383A3F;
}
.profil-information label{
    color:#1F2124;
}
.form-profil{
    border: #383A3F solid 1px;
}
.btn-modify{
    border: 2px solid #F68657;
    text-decoration: none;
    border-radius: 0%;
    font-family: 'Cormorant Garamond', serif;
    font-weight: 600;
    color: #1F2124;
}
/*DASHBOARD*/
.btn-navSide{
    border: 1px solid #F68657;
    margin-top: 10px;
    margin-left: 10px;
}
.home h3{
    font-family: 'Cormorant Garamond', serif;
    font-weight: 400;
}
/*MOBILE*/
@media screen and (min-width: 320px) and (max-width: 1219px) 
{
    .logo{
        width: 100px;
        margin-left: 20px;
    }
    .nav-link{
        box-sizing: border-box;
        padding-top: 20px;
    }
    nav{
        font-size: 15px;
    }
    .navbar-toggler{
        margin: 10px 0;
        border-color: #1F2124;
    }
    .navbar-collapse{
        background-color: white;
    }
    .accueil_header{
        background-position: 90% 10% ;
        width: calc(100% + 20px);
    }
    .accueil_header h1{
        padding-top: 15vh;
        padding-left: 20px;
        font-size: 20px;
    }
    .accueil_header h3{
        font-size: 20px;
        padding-left: 20px;
    }
    .hr{
        width: 90px;
        margin-left: 20px; 
        margin-top: 18px;
        margin-bottom: 18px;
    }
    .button{
        margin-left: 15px;
        margin-top: 40px;
        padding: 10px;
    }
    .button a{
        font-size: 14px;
    }
    .presentation{
        height: 220px;
        display: flex;
        justify-content: space-around; 
        font-size: 12px;
    }
    .oval{
        margin-top: 50px;
        width: 60px;
        height: 60px;
    }
    .clinique{
        padding: 20px;
        padding: 0 50px;
        margin-top: 40px;
    }
    .clinique h4{
        margin-bottom: 20px;
        font-size: 20px;
    }
    .clinique::after{
        width: 80px;
        height: 80px;
    }
    .service h4{
        font-size: 20px;
        margin-bottom: 10px;
    }
    .service_class{
        height: 200px;
        display: flex;
        justify-content: space-evenly;
        padding: 0 8px;
        flex-wrap: wrap;
        font-size: 12px;
    }
    .hr_team{
        width: 20%;
        margin-left: 40%; 
        margin-top: 18px;
        margin-bottom: 18px;
    }
    .btn_team{
        font-size: 16px;
    }
    .team h4{
        margin-bottom: 20px;
        font-size: 20px;
    }
    .team{
        padding: 20px;
        padding: 0 50px;
        margin-top: 40px;
    }
    #carouselExample{
        width: 80%;
        margin: auto;
    }
    .col-md-4 h5{
        font-size: 16px;
    }
    .col-md-4 i{
        padding-left: 30px;
    }
    .col-md-4 p {
        font-size: 12px;
    }
    .logo_footer{
        width: 100px;
    }
    .clinique-header{
        background-position: 60% 40%;
        height: 80vh;
    }
    .clinique-header h1{
        padding-top: 12vh;
        padding-left: 20px;
        font-size: 20px;
    }
    .clinique-header h3{
        font-size: 20px;
        padding-left: 20px;
    }
    .equipement{
        padding: 0 50px;
        margin-bottom: 50px;
        margin-top: 50px;
    }
    .equipement h4{
        margin-bottom: 20px;
        font-size: 25px;
    }
    .equipement p{
        font-size: 14px;
        line-height: 1.8rem;
    }
    .image-equipement img{
        width: 75%;
        height: auto;
    }
    .image-equipement{
        margin-bottom: 50px;
        flex-direction: column;
        margin-left: 15%;
    }
    .bloc{
        height: 20vh;
    }
    /*TEAM*/
    .equipe{
        margin-bottom: 50px;
    }
    .equipe h4{
        margin-top: 20px;
        font-size: 25px;
        padding: 0 50px;
    }
    .doctor {
        gap: 5%;
        flex-wrap: wrap;
    }
    .doctor-img h5{
        font-size: 14px;
    }
    .round{
        margin-top: 20px;
        width: 150px;
        height: 140px;
    }
    /*CONTACT*/
    .contact-header{
        background-position: 70% 30%;
        height: 80vh;
    }
    .contact-header h1{
        padding-top: 12vh;
        padding-left: 20px;
        font-size: 20px;
    }
    .contact-header h3{
        font-size: 20px;
        padding-left: 20px;
    }
    .informations{
        margin-top: 50px;
        margin-bottom: 50px;
        flex-wrap: wrap;
    }
    .informations h4 {
        padding-bottom: 15px;
        font-size: 1.8rem;
    }
    .informations i{
        padding-left: 5px;
    }
    .informations p{
        font-size: 15px;
        padding-bottom: 15px;
    }
    .consultation{
        padding: 40px;
    }
    .urgence{
        padding: 40px;
    }
    .access{
        padding: 40px;
    }
    .urgence span{
        margin-left: 35%;
    }
    .connexion{
        padding: 25px;
        margin-top: 20vh;
        margin-bottom: 20vh;
        width: 90%;
    }
    .connexion h4{
        font-size: 25px;
    }
    .form-control{
        height: 35px;
    }
    .create-account {
        font-size: 12px;
    }
    .connexion a{
        font-size: 12px;
    }
    .form-profil{
        padding: 25px;
        margin-bottom: 20vh;
        width: 90%;
    }
    .profil-name{
        padding: 20px;
        width: 90%;
    }
    .logout-btn{
        margin-top: 40vh;
    }
    .home h3{
        margin-top: 25vh;
        font-size: 25px;
    }
}

/*PC*/
@media screen and  (min-width: 1220px)
{
    .logo{
        width: 200px;
        margin-left: 200px;
    }
    nav{
        font-size: 16px;
    }
    .nav-link{
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
    }
    .accueil_header{
        background-position: 65% 35% ;
    }
    .accueil_header h1{
        padding-top: 50vh;
        padding-left: 200px;
        font-size: 30px;
    }
    .accueil_header h3{
        font-size: 25px;
        padding-left: 200px;
    }
    .hr{
        width: 200px;
        margin-left: 200px; 
        margin-top: 25px;
        margin-bottom: 18px;
    }
    .button{
        margin-left: 200px;
        margin-top: 80px;
        padding: 10px 15px;
    }
    .button a{
        font-size: 16px;
    }
    .presentation{
        height: 220px;
        display: flex;
        justify-content: center;
        font-size: 16px;
    }
    .service_class{
        height: 200px;
        display: flex;
        justify-content: space-evenly;
        font-size: 16px;
    }
    .space{
        padding: 0 70px 0 10px;
    }
    .oval{
        margin-top: 50px;
        width: 80px;
        height: 80px;
    }
    .clinique{
        padding: 0 200px;
        margin-top: 50px;
    }
    .clinique h4{
        margin-bottom: 20px;
        font-size: 30px;
    }
    .clinique::after{
        width: 200px;
        height: 100px;
    }
    .service h4{
        font-size: 30px;
        margin-bottom: 30px;
    }
    .team{
        display: block;
        padding: 0 200px;
        margin-top: 50px;
    }
    .team h4{
        font-size: 30px;
        margin-bottom: 20px;
    }
    .hr_team{
        width: 10%;
        margin-left: 45%; 
        margin-top: 25px;
        margin-bottom: 18px;
    }
    .btn_team{
        font-size: 18px;
    }
    #carouselExample{
        width: 40%;
        margin: auto;
    }
    .footer{
        padding: 60px;
    }
    .logo_footer{
        width: 120px;
    }
    .col-md-4 h5{
        font-size: 20px;
    }
    .col-md-4 i{
        padding-left: 8%;
    }
    .col-md-4 p{
        font-size: 18px;
    }
    .clinique-header{
        background-position: 75% 25% ;
        height: 70vh;
    }
    .clinique-header h1{
        padding-top: 30vh;
        padding-left: 200px;
        font-size: 30px;
    }
    .clinique-header h3{
        font-size: 25px;
        padding-left: 200px;
    }
    .equipement{
        padding: 0 200px;
        margin-bottom: 70px;
        margin-top: 60px;
    }
    .equipement h4{
        margin-bottom: 20px;
        font-size: 30px;
    }
    .equipement p{
        font-size: 1rem;
        line-height: 1.8rem;
    }
    .image-equipement img{
        width: 35%;
        height: auto;
    }
    .image-equipement{
        margin-bottom: 60px;
    }
    .bloc{
        height: 35vh;
        margin-bottom: 60px;
    }
    .equipe{
        margin-bottom: 100px;
        margin-top: 60px;
    }
    .equipe h4{
        margin-bottom: 20px;
        font-size: 30px;
        padding: 0 200px;
    }
    .equipe p{
        font-size: 1rem;
        line-height: 1.8rem;
    }
    /*TEAM*/
    .doctor {
        gap: 80px;
    }
    .doctor-img h5{
        font-size: 16px;
    }
    .round{
        margin-top: 50px;
        width: 150px;
        height: 120px;
    }
    /*CONTACT*/
    .contact-header{
        background-position: 50% 50% ;
        height: 70vh;
    }
    .contact-header h1{
        padding-top: 30vh;
        padding-left: 200px;
        font-size: 30px;
    }
    .informations{
        margin-top: 100px;
        margin-bottom: 100px;
    }
    .informations h4 {
        padding-bottom: 20px;
        font-size: 2rem;
    }
    .informations i{
        padding-left: 10px;
    }
    .informations p{
        font-size: 18px;
        padding-bottom: 20px;
    }
    .consultation{
        padding: 60px;
    }
    .urgence{
        padding: 60px;
    }
    .access{
        padding: 60px;
    }
    .urgence span{
        margin-left: 38%;
    }
    .connexion{
        padding: 40px;
        margin-top: 20vh;
        margin-bottom:20vh;
        width: 25%;
    }
    .connexion h4{
        font-size: 25px;
    }
    .connexion h5{
        font-size: 16px;
    }
    .create-account {
        font-size: 15px;
    }
    .connexion a{
        font-size: 15px;
    }
    .form-control{
        height: 35px;
    }
    .form-profil{
        padding: 40px;
        margin-bottom: 20vh;
        width: 30%;
    }
    .profil-name{
        padding: 20px;
        width: 30%;
    }
    .logout-btn{
        margin-top: 55vh;
    }
    .home h3{
        margin-top: 30vh;
        font-size: 30px;
    }

}